[submodule "ros_ws/src/YDLidar-SDK"]
	path = ros_ws/src/YDLidar-SDK
	url = https://github.com/YDLIDAR/YDLidar-SDK.git
[submodule "ros_ws/src/ros2_astra_camera"]
	path = ros_ws/src/ros2_astra_camera
	url = https://github.com/KavenYau/ros2_astra_camera.git
