#idVendor           0x1a86
#idProduct          0x7523
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*" ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="0777" ,SYMLINK+="carserial"
